#introduction{
	background: url("../../../assets/indexBackground.jpg");
	background-size: cover;
	padding: 180px 0;
	color: #fff;
}

#projectImg {
    float: right; 
    margin-bottom: 2em;
    width: 600px;
    height: 200px;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    #projectImg {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 2em;
        width: 600px;
        height: 200px;
        max-width: 100%;
    }   
}