#introduction{
	background: url("../../../assets/indexBackground.jpg");
	background-size: cover;
	padding: 180px 0;
	color: #fff;
}
#introduction > .container{
    padding-right: 50%;
}

#projectImg {
    float: right; 
    margin-bottom: 2em;
    width: 600px;
    height: 200px;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    #introduction > .container{
        padding-right: 0%;
    }
    #projectImg {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 2em;
        width: 600px;
        height: 200px;
        max-width: 100%;
    }   
}