<header>
  <div id="menu_bar" class="container">
    <span><a href="#"><img  width="100px" height="100px" src="assets/logo.jpg" alt="Logo"></a></span>
    <span><a href="https://www.instagram.com/portal_prevencionista/">Instagram</a></span>
    <span><a routerLink="quiz">Quiz</a></span>
    <span><a href="https://scratch.mit.edu/projects/535763887/fullscreen/">Jogo</a></span>
  </div> 
</header>
<div>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="center">
    <p>Encaixar alguma informação aqui talvez?</p>
  </div>
</footer>