header {
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color:  	 	#ffffff;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
footer{
    background-color: #2e2c32;
    color: #ffffff;
    align-items: center;
    font-weight: 600;
    position:absolute;
    bottom:0;
    width:100%;
    height:auto;   /* Height of the footer */
}
#menu_bar > span {
    margin: 1em 1em 1em 0em;
} 
#menu_bar a{
    color: #000000;
}
#menu_bar a:hover{
    text-decoration: none;
}
#menu_bar span:active{
    background-color:  	#444242;
}