<header>
  <div id="myTopnav" class="topnav">
    <a href="#" class="active"><img class="logo" src="assets/logo.jpg" alt="Logo"></a>
    <a href="https://www.instagram.com/portal_prevencionista/">Instagram</a>
    <a routerLink="quiz">Quiz</a>
    <a routerLink="ranking">Ranking</a>
    <a routerLink="editQuiz">TestQuiz</a>
    <a href="https://scratch.mit.edu/projects/535763887/fullscreen/">Jogo</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
  </div> 
</header>
<div>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="center">
    <p>Encaixar alguma informação (sobre contato, integrantes) aqui talvez?</p>
  </div>
</footer>