<div id="quiz">
    <div *ngIf="showMenu">
        <h1>Bem vindo ao quiz da semana!</h1>
        <p>
            Visite esta página toda semana para responder as novas
            perguntas e concorra ao topo do ranking!
        </p>
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Digite seu nome" name="name" id='name' required #name />
            <label for="name" class="form__label">Digite seu nome</label>
        </div>
        <div id="alertdiv" *ngIf="noName">
            <span id="alert">Nome inválido!</span>
        </div>
        <div class="centerText"><button class="btn" (click)="startQuiz(name.value)">Iniciar!</button></div>
    </div>
    <br>
    <div *ngIf="showQuiz">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div *ngFor="let question of questions; let i = index">
                <h3>{{ i + 1 }}: {{ question.enunciation }}</h3>
                <p *ngFor="let b of [].constructor(questions[i].answers.length); let j = index">
                    <input type="radio" name="{{ i }}" value="{{ j }}" formControlName="{{ i }}"> {{ question.answers[j] }}
                </p>
            </div>
            <div class="centerText">
                <div id="alertdiv" *ngIf="noAnswer">
                    <span id="alert">Preencha todas as respostas!</span>
                </div>
                <button class="btn btn-primary" type="submit" >Submit</button>
            </div>
        </form>
    </div>
    <br>
    <div *ngIf="showScore">
        <p>Parabéns {{ name }}, você fez {{ points }} pontos!</p>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3">Correção:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of result; let i = index">
                    <td>
                        {{ i + 1 }}
                    </td>
                    <td>
                        -->
                    </td>
                    <td>
                        {{ result.answer }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>