table{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
div{
    margin-top: 2rem;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    table{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}