/* You can add global styles to this file, and also import other style files */
.center{
    display: grid;
    place-items: center;
}
table{
    word-break: break-all;
    width: auto;
    table-layout: fixed;
}
#alertdiv{
    margin-top: 10px;
    margin-bottom: 10px;
}
#alert{
    color: #c0221a; 
    background-color: white;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em;
    border: 1px solid #c0221a;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 130px; /* Margin bottom by footer height */
}